@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

html, body{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: white;
}

#tmp{
	width: 90%;
}
form{
	margin: 0 auto;
}



/* Form part */
.main{
	display: flex;
	flex-direction: row;
	padding: 0;

}

.form-part{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
}

.form h1{
	color: #e63;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: bold;
}

.form h5{
	color: #e63;
	opacity: .6;
	font-family: 'Lexend Deca', sans-serif;
	margin-bottom: 60px;
}

.input-group-text{
	background-color: white;
	width: 50px;
}

#input-username:focus, #input-password:focus{
	border: 1px solid #ced4da;
	box-shadow: 0px 0px 8px #e63;
}

#toggle-password{
	background-color: #EDEDEDFF;
	border: 1px solid #ced4da;
	width: 50px;
}






/* Image part */
.image{
	position: relative;
	width: 60%;
	height: 100vh;
	overflow: hidden;
}

.image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(70%);
}

.company{
	position: absolute;
	top: 75px;
	right: 30px;
	color: white;
	font-family: 'Manjari', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.company::after{
	content: '';
	background: white;
	opacity: .8;
	position: absolute;
	bottom: -5px;
	right: 0px;
	width: 40px;
	height: 2.3px;
}


.center{
	position: absolute;
	bottom: 100px;
	right: 30px;
	color: white;
	font-family: 'Manjari', sans-serif;
	font-size: 50px;
	font-weight: 400;
}

.indicators{
	position: absolute;
	bottom: 75px;
	right: 75px;
	width: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.indicator{
	width: 35px;
	height: 5px;
	background-color: white;
	opacity: .4;
}

.indicator-active{
	background-color: white;
	opacity: 1;
}

.clr-input-wrapper{
	margin-bottom: 20px;
}

@media screen and (max-width: 900px){
	.form-part{
		margin: 0 auto;
		width: 75%;
	}
	.image{
		display: none;
	}


}